---
import { readAll } from "../../lib/markdoc/read";
import { tech } from "../../lib/markdoc/frontmatter.schema";

const techs = await readAll({
  directory: "tech",
  frontmatterSchema: tech,
});

const sortedTechs = techs
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )
  .slice(0, 5);
---

<div>
  <p>Tech - 최근 게시물:</p>
  <ul class="mt-5">
    {
      sortedTechs.map((tech) => {
        const formattedDate = new Date(
          tech.frontmatter.date
        ).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        });
        return (
          <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
            <div class="title">
              {tech.frontmatter.external ? (
                <a
                  href={tech.frontmatter.url}
                  target="_blank"
                  class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                >
                  <span>{tech.frontmatter.title}</span>
                  <span>
                    <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                  </span>
                </a>
              ) : (
                <a
                  href={`/tech/${tech.slug}`}
                  class="unset
                        transition-[background-size] duration-300 
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                >
                  {tech.frontmatter.title}
                </a>
              )}
            </div>
            <div class="text-text-muted text-sm italic pt-1">
              <time datetime={tech.frontmatter.date.toISOString()}>
                {formattedDate}
              </time>
            </div>
          </li>
        );
      })
    }
  </ul>
</div>
